# Python
backend/venv/
**/__pycache__/
*.pyc

# Node
frontend/node_modules/
frontend/dist/

# Environment / OS
.env
.DS_Store
Thumbs.db

# Logs
*.log

# Output folders
output/*
data/screenshots/*
data/exports/*

# Keep folders if needed
!output/.gitkeep
!data/screenshots/.gitkeep
!data/exports/.gitkeep